<launch>

  <include file="$(find tuw_checkerboard)/launch/demo.launch">
    <arg name="image" value="/camera/color/image_raw"/>
    <arg name="checkerboard_columns" value="7"/>
    <arg name="checkerboard_rows" value="5"/>
    <arg name="checkerboard_square_size" value="0.028"/>
    <arg name="rviz" value="true"/>
  </include>

</launch>
