<launch>

  <!-- start the UR5 robot
  <include file="$(find )/.launch"/>
  -->
  
  <!-- start the RealSense camera -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_default.launch"/>
  
  <!-- start checkerboard tracking -->
  <include file="$(find tuw_checkerboard)/launch/kendama_checkerboard.launch">

  <!-- start easy_handeye -->
  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <!-- "eye-on-base" calibration -->
    <arg name="eye_on_hand" value="false"/>
    <arg name="namespace_prefix" value="kendama_calib"/>

    <arg name="tracking_base_frame" value="camera"/>
    <arg name="tracking_marker_frame" value="checkerboard"/>
    <arg name="robot_base_frame" value="base_link"/>
    <arg name="robot_effector_frame" value="tool0"/>

    <!-- GUI for automatic robot movement -->
    <arg name="freehand_robot_movement" value="true"/>
  </include>  
  
</launch>
